<section>

  <div *ngIf="pokemon; else noPokemon">
    <h2>Détails de {{ pokemon.nom | uppercase }}</h2>

    <p>Taille : <span>{{ pokemon.taille }}</span></p>

    <p>Evolution(s) : <span>{{ pokemon.evolution }}</span></p>

    <p>Faiblesses : <span>{{ pokemon.faiblesses }}</span></p>

    <p>Attaque : <span>{{ pokemon.attaque }}</span></p>
  </div>
  <ng-template #noPokemon>
    <p>Pokémon non trouvé</p>
  </ng-template>

  <div>
    <button [routerLink]="['/pokemons']">Retour aux listes</button>
  </div>

</section>
